.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.container{
    margin-bottom: 100px;
}
.button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.dolar{
    color: #FF136F;
}
.cat1{
    background-color: rgb(255, 204, 0);
}
.cat2{
    background-color: hotpink;
}
.cat3{
    background-color: blue;
}
.row,.cat1,.cat2,.cat3{
    padding: 20px;
    border-radius: 10px;
}
.catgories h1{
    color: white;
}
.catgories img{
    width: 100px;
}